<!DOCTYPE html>
<html lang="en">
<% let capitalize=(text)=> { return text.replace(/(^\w|\s\w)/g, o =>
  o.toUpperCase()) } %>

  <head>
  </head>
  <body>
      <table align="center" width="100%" class="floated-none" style="
         font-size: 18px;
         padding: 30px;
         background-color: rgb(248, 248, 248);
         max-width: 600px !important
          " role="presentation">
        <tbody>
      
          <tr style="padding: 0 30px 30px 30px !important;">
            <td>
            <h3>Dear <strong>
                <%= capitalize(fullName)%>
              </strong>,</h3>
            <p>
              We received a password reset request for your account. If you did not initiate this request, please
              disregard this
              email. However, if you did request a password reset, please use the OTP and link given below to create a
              new
              password and regain access to your account.
            </p>
            <p ><strong>OTP</strong></p>
            <p ><strong>
                <%=otp%>
              </strong></p>
            <p>
              Use the following link to reset your account password.
              <strong><a class="validating" href="<%= url %>" style="font-weight: bold" target="_blank"
                  rel="noopener noreferrer">Click Here</a></strong>
            </p>
            <p>
              For further assistance, kindly reach out to our Onboarding Team on
              <strong>obt1@allmasters.ai, obt2@allmasters.ai</strong>
            </p>
            <p>Regards,</p>
            <p><strong>Mahendra</strong></p>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>